.portfolio-header {
  position: relative;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__header {
  min-height: 45px;
}

.mdl-layout__header-row .is-active {
	color: rgb(255,171,64);
}

.mdl-layout__title {
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
}

body {
  background-color: #4ba89a;
}

p {
  font-size: 18px;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
  background: url(images/logo.png) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
  font-size: 18px;
  font-weight: lighter;
}

.portfolio-header .mdl-layout__drawer-button {
  margin: 0;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-card .mdl-card__title-text {
  font-size: 28px;
  line-height: 48px;
}

.mdl-cell--12-col .mdl-card__title-text {
  font-size: 48px;
  line-height: 64px;
}

.portfolio-project .mdl-card__title {
  margin: auto;
}

.portfolio-project .subtitle {
  max-width: 700px;
  margin: auto;
}

.portfolio-blog-card-full-bg {
  background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(images/example-blog06.jpg) center / cover;
}

.mdl-card__media {
  background-position: 50% 50%;
  background-attachment: scroll;
  height: 350px;
}

.portfolio-project {
  margin: 350px 0 0 0;
  width: 100%
}

.insecurity-blanket {
  background: url(images/insecurity-blanket.jpeg) center / cover;
  background-repeat: no-repeat;
}

.icam-install {
  background: url(images/icam-install.jpeg) top / cover;
  background-repeat: no-repeat;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-project h2 {
  text-align: center;
}

.about-page h3 {
  text-align: center;
}

.about-page p {
  text-align: justify;
}

.contact-links {
  text-align: center;
  margin: 30px 8px;
}

.contact-button {
  margin: 15px;
}

.mdl-card__supporting-text {
  font-size: 18px;
  line-height: 24px;
}

.portfolio-project .subtitle {
  text-align: center;
  width: 100%;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: 350px;
}

.max-width {
  max-width: 100%;
  padding: 0;
}

.portfolio-page {
  max-width: 1100px;
  margin-bottom: 48px;
  padding: 0;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.invisible {
  opacity: 0;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

footer {
  /*background-image: url(images/footer-background.png);
  background-size: cover;*/
}
